{% extends "base/base.html" %}
{% load static %}


{% block content %} 


<div class="content-section pb-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group pt-4 pb-3">
            <legend class="border-bottom mb-4">
              <h2>Reset password </h2> 
            </legend> 
            {% if form.errors %}
            <p class="alert danger-message">The email address you entered is not valid</p>
            {% endif %}

            <div class="text-center pt-4"> 
            <label for="{{ form.email.email }}" class="requiredField"> <h4>Email </h4>  </label>
            <div class="pb-4">
                {{ form.email }}
            </div>
            
            </div>
            

        </fieldset>
        <div class="form-group text-center mb-2">
            <button class="btn btn-primary" type="submit">Request New Password</button>
        </div>
        
    </form>
</div>

{% endblock content %}