{% extends "base/base.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group pt-4 pb-3">
                <legend class="border-bottom mb-4">
                    <h2>Sign Up</h2>
                </legend>
                {% if form.errors %}
                <p class="alert warning-message">Passwords must match and be at least 8 characters long.</p>
                {% endif %}
                
                    
                    </div>
                <div class="text-center pt-4"> 
                    <label for="{{ form.new_password1.new_password1 }}" class="requiredField"> <h4>New password </h4>  </label>
                    <div class="">
                        {{ form.new_password1 }}
                    </div>
                    
                    </div>
                <div class="text-center pt-4"> 
                    <label for="{{ form.new_password2.new_password2 }}" class="requiredField"> <h4>Password confirmation </h4>  </label>
                    <div class="">
                        {{ form.new_password2 }}
                    </div>
                    
                    </div>
            </fieldset>
            <div class="form-group text-center mb-2">
                <button class="btn btn-primary" type="submit">Reset</button>
            </div>
            
        </form>
    </div>
{% endblock content %}
