{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Foodstah - {{ title }}</title>
    {% else %}
    <title>Foodstah</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{% static 'base/images/favicon.ico' %}">

    <!-- Poppins font (Main font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,200;1,400;1,900&display=swap" rel="stylesheet">
  
    <!-- CSS Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Main custom CSS file. All overrides for CSS will be here -->
    <link rel="stylesheet" href="{% static 'base/main.css' %}">
</head>
<body class="pb-5">

  <!-- NAVIGATION BAR -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">
    <div class="container-fluid">
      
  <!-- Logo text. -->
  {% if user.is_authenticated %}
            <a class="navbar-brand mr-4 text-light" href="{% url 'food-feed' %}">
  {% else %}
            <a class="navbar-brand mr-4 text-light" href="{% url 'index' %}">
  {% endif %}
              <img style="width: 60px;" src="{% static 'base/images/F_blue.png' %}" alt="">
              <h1 class="d-inline-block align-middle pt-2 ">Foodstah</h1>
            </a>
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
              <span class="navbar-toggler-icon custom-toggler"></span>
            </button>   

            {% if user.is_authenticated %}
  <!-- Search form -->
            <div class="collapse navbar-collapse" id="mynavbar">
              <div class="navbar-nav ms-auto me-auto">
                <form class="d-flex">
                  <input class="form-control  me-2" type="text" placeholder="Search">
                  <!-- <img class="svg-white" src="base/typicons/svg/zoom.svg" alt=""> -->
                  <button class="btn btn-primary" type="button">Search</button>
                </form>
              </div>
            {% endif %}
  <!-- User links -->
              <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'food-feed' %}">
                  <img class="svg-white me-1" src="{% static 'base/typicons/svg/home.svg' %}" alt="">Home</a>
                <a class="nav-item nav-link" href="{% url 'add-post' %}">
                  <img class="svg-white me-1" src="{% static 'base/typicons/svg/plus.svg' %}" alt="">New post</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">
                  <img class="svg-white me-1" src="{% static 'base/typicons/svg/user.svg' %}" alt="">Logout</a>
             
            {% else %}
                <a class="nav-item nav-link me-2" href="{% url 'login' %}">
                  <img class="svg-white svg-large" src="{% static 'base/typicons/svg/user.svg' %}" alt="">Login</a>
                <a class="nav-item  btn btn-primary button" href="{% url 'signup' %}">Signup</a>
            {% endif %}
              </div>
            </div>
          </div>
  </nav>

  <!-- Navigation fixed bottom for smaller screens -->

  <nav style="background-color: #1367E1;" class="navbar bottom-nav fixed-bottom navbar-dark  d-md-none">
    <div class="container-fluid mx-4w">
      {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'food-feed' %}">
        <img style="width: 30px;" class="svg-white me-1" src="{% static 'base/typicons/svg/home.svg' %}" alt=""></a>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'index' %}">
        <img style="width: 30px;" class="svg-white me-1" src="{% static 'base/typicons/svg/home.svg' %}" alt=""></a>
      {% endif %}
      <a class="nav-item nav-link" href="javascript:void(0)">
        <img style="width: 30px;" class="svg-white me-1" src="{% static 'base/typicons/svg/zoom.svg' %}" alt=""></a>
      <a class="nav-item nav-link" href="{% url 'add-post' %}">
        <img style="width: 30px;" class="svg-white me-1" src="{% static 'base/typicons/svg/plus.svg' %}" alt=""> </a>
      <a class="nav-item nav-link" href="{% url 'profile-page' username=user.username %}">
        <img style="width: 30px;" class="svg-white me-1" src="{% static 'base/typicons/svg/user.svg' %}" alt=""></a>
    </div>
  </nav>

  

    <div class="page-container">
      {% if messages %}
      {% for message in messages %}
      <div class="alert {{ message.tags }}-message">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    
        <div class="pt-4">
          <div class="user-image-stats pb-3 border-bottom">
            <div style="display: none;" class="d-md-block">
              <div class="d-inline-block d-flex justify-content-end">
                <img class="my-auto me-auto" src="{{ user.profile.image.url }}" alt="">
                <h5 class="ms-3 my-auto d-inline-block"> {{ profile_posts }} Posts</h5>
                <h5 class="ms-3 my-auto d-inline-block"> {{ profile_followers }} Followers</h5>
                <h5 class="ms-3 my-auto d-inline-block"> {{ profile_following }} Following</h5>
              </div>
            </div>
            <div class="d-sm-block d-md-none">
              <img class="mb-3 me-auto" src="{{ user.profile.image.url }}" alt="">
              <div class="d-flex">
                <h5 class="ms-2 my-auto"> {{ profile_posts }} Posts</h5>
                <h5 class="ms-3 my-auto"> {{ profile_followers }} Followers</h5>
                <h5 class="ms-3 my-auto"> {{ profile_following }} Following</h5>
              </div>
            </div>

          </div>
      

          <div class="user-details py-3 border-bottom ">
              <h2>@{{ profile.username }}</h2>


              <h6>{{ profile.first_name|default_if_none:"" }} {{ profile.last_name|default_if_none:"" }}</h6>
              <p>{{ profile.description|default_if_none:"" }} </p>
              <a href="{{ profile.website }}" target="blank">{{ profile.website|default_if_none:"" }} </a>
              

              <div>

                <a href="{% url 'profile-update' user.username %}" class="btn btn-secondary mt-3">Edit profile</a>

                <form action="{% url 'followers_count' %}" method="POST">

                    {% csrf_token %}

                    <input type="hidden" name="user" value="{{ profile }}">
                    <input type="hidden" name="follower" value="{{ profile.username }}">


                    {% if follow_button_value == "follow" %}
                    <input type="hidden" name="value" value="follow">
                        <button type="submit" class="btn btn-secondary mt-3">
                            Follow
                        </button>

                    {% else %}
                    <input type="hidden" name="value" value="unfollow">
                        <button type="submit" class="btn btn-secondary mt-3">
                            Unfollow
                        </button>

                    {% endif %}

                </form>
              </div>
              
          </div>
      </div>
      <div class="user-posts-saved-posts pt-3 d-flex justify-content-center">
          <button class="btn btn-primary me-2">My Posts</button>
          <a href="{% url 'saved-posts' %}" class="btn btn-primary ms-2">Saved Posts</a>
      </div>
      <div class="user-posts">
          <div class="row">
              <div class="my-5 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mx-auto" style="width: 100%;">
                  <div class="card-header d-flex flex-row">
                    <a href="javascript:void(0)">
                      <img class="user-image-card" src="{{ user.profile.image.url }}" alt="">
                    </a>
                    <h5 class="my-auto ms-2">User name</h5>
                    <p class="my-auto ms-auto">Date time</p>
                  </div>
                  <img src="images/pancakes_berries.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="title-and-likes">
                      <h5 class="card-title d-inline-block w-50">Post title</h5>
                      <div class="float-end">
                        <p class="d-inline-block">&#128077; &nbsp; 2 &nbsp;</p>
                        <p class="d-inline-block">&#129316; &nbsp; 3 &nbsp;</p>
                        <p class="d-inline-block"> &#128155; &nbsp; 1</p>
                      </div>
                      
                    </div>
                  </div>
                </div> 
              </div>
              <div class="my-5 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mx-auto" style="width: 100%;">
                  <div class="card-header d-flex flex-row">
                    <a href="javascript:void(0)">
                      <img class="user-image-card" src="{{ user.profile.image.url }}" alt="">
                    </a>
                    <h5 class="my-auto ms-2">User name</h5>
                    <p class="my-auto ms-auto">Date time</p>
                  </div>
                  <img src="images/pancakes_berries.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="title-and-likes">
                      <h5 class="card-title d-inline-block w-50">Post title</h5>
                      <div class="float-end">
                        <p class="d-inline-block">&#128077; &nbsp; 2 &nbsp;</p>
                        <p class="d-inline-block">&#129316; &nbsp; 3 &nbsp;</p>
                        <p class="d-inline-block"> &#128155; &nbsp; 1</p>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="my-5 col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mx-auto" style="width: 100%;">
                  <div class="card-header d-flex flex-row">
                    <a href="javascript:void(0)">
                      <img class="user-image-card" src="{{ user.profile.image.url }}" alt="">
                    </a>
                    <h5 class="my-auto ms-2">User name</h5>
                    <p class="my-auto ms-auto">Date time</p>
                  </div>
                  <img src="images/pancakes_berries.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="title-and-likes">
                      <h5 class="card-title d-inline-block w-50">Post title</h5>
                      <div class="float-end">
                        <p class="d-inline-block">&#128077; &nbsp; 2 &nbsp;</p>
                        <p class="d-inline-block">&#129316; &nbsp; 3 &nbsp;</p>
                        <p class="d-inline-block"> &#128155; &nbsp; 1</p>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
          </div>

      </div>
    </div>


    <!-- JS script linking for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
    