{% extends "base/base.html" %}
{% load static %}

<!-- Hi Camila and Daniel! This is just a rough draft so
    i can test the form and adding post function hahaha.

please feel free to change everything
-->

{% block content %}

{% if user.is_authenticated %}


<h1>Add New Blog Post:</h1>

<!--Add new post-->
<p>Hi {{user.username}}. Want to add a new post?</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ addpost_form }}
        <button class="btn btn-primary" type="submit">Add Post</button>
    </form>
</div>

{% else %}

<p class="text-center">Looks like you're not authenticated. <a href="/login">Login</a> to add blog posts.</p>

{% endif %}






{% endblock content %}