{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% if posts %}
  {% for post in posts %}
        <div class="row">
          <div class="my-5 col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card mx-auto" style="width: 90%;">
              <div class="card-header d-flex flex-row">
                <a href="javascript:void(0)">
                  <img src="{{ profile.image.url }}" alt="">
                </a>
                <h5 class="my-auto ms-2">{{ post.author }}</h5>
                <p class="my-auto ms-auto">{{ post.date_created }}</p>
              </div>
              <img src="{{ post.main_image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="title-and-likes">
                  <h5 class="card-title d-inline-block w-50">{{ post.title }}</h5>
                  <div class="float-end">
                  <a class="d-inline-block">&#128077; &nbsp; &nbsp;</a>
                  <p class="d-inline-block">&#129316; &nbsp; 3 &nbsp;</p>
                  <p class="d-inline-block"> &#128155; &nbsp; 1</p>
                  </div>
                <div>
                  <p>Post description: {{ post.post_description }}</p>
                </div>
                <div>
              {% if post.is_recipe %}
                <p>This is a recipe! Here you have its info!</p>
                <p>Ingredients: {{ post.ingredients }}</p>
                <p>description: {{ post.recipe_description }}</p>
                <p>Cooking time: {{ post.cooking_time }}</p>
                <p></p>
              {% endif %}
            </div>
            <!--Comments section. -->
          </div>
          <div class="comment-section py-2 my-3">
            <p class="card-text">User X - Omg I love fooooood!</p>
            <p class="card-text">User Y - Put the pancakes in my belly!</p>
            <p class="card-text">User Z - I just saved the recipe for later, thanks for this one!</p>
          </div>
          <a href="#" class="btn btn-primary float-start">Save post</a>
          <a href="#" class="btn btn-primary float-end">Request recipe</a>
        </div>
      </div> 
    </div>
</div>
{% endfor %}

{% else %}
<p>No post available</p>
{% endif %}
{% endblock content %}