{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="row">
{% if posts %}
  {% for post in posts %}

          <div class="my-5 col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card mx-auto" style="width: 100%;">
              <div class="card-header d-flex flex-row">
                <a href="{% url 'profile-page' username=post.author.username %}">
                  <img src="{{ post.author.profile.image.url }}" alt="Profile image for {{ post.author}}">
                </a>
                <a class="my-auto" style="color: white;" href="{% url 'profile-page' username=post.author.username %}">
                  <h5 class="my-auto ms-2">{{ post.author }}</h5>
                </a>
                <p class="my-auto ms-auto">{{ post.date_created }}</p>
              </div>
              <a href="{{ post.get_absolute_url }}">
              <img src="{{ post.main_image.url }}" class="card-img-top" alt="Image of {{ post.title }} by {{post.author}}">
              </a>
              <div class="card-body">
                <div class="title-and-likes">
                  <a href="{{ post.get_absolute_url }}">
                    <h5 class="card-title d-inline-block w-50">{{ post.title }}</h5>
                  </a>
                  <div class="float-end">
                    <a class="d-inline-block reaction-button" href="{% url 'give-like' post.id %}" data-id="like-{{ post.id }}">&#128077; &nbsp;</a><span id="like-{{ post.id }}">{{ post.like_count }}</span>&nbsp;
                    <a class="d-inline-block reaction-button" href="{% url 'give-love' post.id %}" data-id="love-{{ post.id }}">&#128155; &nbsp;</a><span id="love-{{ post.id }}">{{ post.love_count }}</span> &nbsp;
                    <a class="d-inline-block no-link reaction-button" href="{% url 'give-drooling-face' post.id %}" data-id="drool-{{ post.id }}">&#129316; &nbsp;</a><span id="drool-{{ post.id }}">{{ post.droolingface_count }}</span>
                  </div>
                <div>
                  <p>{{ post.post_description }}</p>
                </div>
                <div>
                {% if post.is_recipe %}
                <h6>Recipe</h6>
                <p>Ingredients: {{ post.ingredients }}</p>
                <p>Instructions: {{ post.recipe_description }}</p>
                <p>Cooking time: {{ post.cooking_time }}</p>
                {% endif %}
                </div>
                <!--Comments section. -->
              </div>
              <div class="comment-section py-2 my-3">
                <p class="card-text">User X - Omg I love fooooood!</p>
                <p class="card-text">User Y - Put the pancakes in my belly!</p>
                <p class="card-text">User Z - I just saved the recipe for later, thanks for this one!</p>
              </div>
              <a href="{% url 'save-post' post.id %}" class="btn btn-primary float-start">Save post</a>
              {% if post.is_recipe %}
              <a href="#" class="btn btn-primary float-end">Download recipe</a>
              {% else %}
              <a href="#" class="btn btn-primary float-end">Request recipe</a>
              {% endif %}
            </div>
          </div>
    </div>
{% endfor %}

{% else %}
<p class="alert .info-message">No posts available. You must create a new post or follow another user to see posts.</p>
{% endif %}
<script type="text/javascript">
  const pageContainer = document.querySelector('.page-container')
  pageContainer.addEventListener('click', event => {
    if (event.target.matches('.reaction-button')) {
      event.preventDefault()
      reactionToPost(event.target)
      return
    }
  })

function reactionToPost(reactionButton) {
   const link = reactionButton.href
   const id = reactionButton.dataset.id

   fetch(link, {
      headers: {
        'Accept': 'application/json',
      },
   }).then(
       response => response.json()
    ).then(
      json => {
        document.querySelector(`#${id}`).innerHTML = json.reactions
      }
    )
}
</script>

{% endblock content %}
