{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    {% if user_saved_post %}
    {% for post in user_saved_post %}
    <div class="my-5 col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card mx-auto" style="width: 100%;">
            <div class="card-header d-flex flex-row">
                <a href="javascript:void(0)">
                    <img src="{{ user.profile.image.url }}" alt="">
                </a>
                <h5 class="my-auto ms-2">{{ post.author }}</h5>
                {% comment %} <a href="{% url 'profile-page' username=user.username %}">
                    <h5 class="my-auto ms-2">{{ post.author }}</h5>
                </a> {% endcomment %}
                <p class="my-auto ms-auto">{{ post.date_created }}</p>
            </div>
            <a href="{% url 'post-detail' post.slug %}">
                <img src="{{ post.main_image.url }}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <div class="title-and-likes">
                    <a href="{% url 'post-detail' post.slug %}">
                        <h5 class="card-title d-inline-block w-50">{{ post.title }}</h5>
                    </a>
                    <div class="float-end">
                        <a class="d-inline-block reaction-button" href="{% url 'give-like' post.id %}" data-id="like-{{ post.id }}">&#128077; &nbsp;</a><span id="like-{{ post.id }}">{{ post.like_count }}</span>&nbsp;
                        <a class="d-inline-block reaction-button" href="{% url 'give-love' post.id %}" data-id="love-{{ post.id }}">&#128155; &nbsp;</a><span id="love-{{ post.id }}">{{ post.love_count }}</span> &nbsp;
                        <a class="d-inline-block no-link reaction-button" href="{% url 'give-drooling-face' post.id %}" data-id="drool-{{ post.id }}">&#129316; &nbsp;</a><span id="drool-{{ post.id }}">{{ post.droolingface_count }}</span>
                    </div>
                    <div>
                      <p>{{ post.post_description }}</p>
                    </div>
                    <div>
                    {% if post.is_recipe %}
                    <h6>Recipe</h6>
                    <p>Ingredients: {{ post.ingredients }}</p>
                    <p>Instructions: {{ post.recipe_description }}</p>
                    <p>Cooking time: {{ post.cooking_time }}</p>
                    {% endif %}
                    </div>
                    <!-- <div>
                        <a class="d-inline-block reaction-button" href="{% url 'save-post' post.id %}">Remove</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}