{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Foodstah - {{ title }}</title>
    {% else %}
    <title>Foodstah</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{% static 'base/images/favicon.ico' %}">

    <!-- Poppins font (Main font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,200;1,400;1,900&display=swap" rel="stylesheet">
  
    <!-- CSS Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Main custom CSS file. All overrides for CSS will be here -->
    <link rel="stylesheet" href="{% static 'base/main.css' %}">
</head>
<body class="pb-5">

  <!-- NAVIGATION BAR -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">
    <div class="container-fluid">
      
  <!-- Logo text. -->
  {% if user.is_authenticated %}
            <a class="navbar-brand mr-4 text-light" href="{% url 'food-feed' %}">
  {% else %}
            <a class="navbar-brand mr-4 text-light" href="{% url 'index' %}">
  {% endif %}
              <img style="width: 60px;" src="{% static 'base/images/F.png' %}" alt="">
              <h1 class="d-inline-block align-middle pt-2 ">Foodstah</h1>
            </a>
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
              <span class="navbar-toggler-icon custom-toggler"></span>
            </button>   

            <div class="collapse navbar-collapse" id="mynavbar">
              <div class="navbar-nav ms-auto me-auto"></div>
            {% if user.is_authenticated %}
  <!-- Search form -->
                <form class="d-flex">
                  <input class="form-control  me-2" type="text" placeholder="Search">
                  <!-- <img class="svg-yellow" src="base/typicons/svg/zoom.svg" alt=""> -->
                  <button class="btn btn-primary" type="button">Search</button>
                </form>
              </div>
            {% endif %}
  <!-- User links -->
              <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'food-feed' %}">
                  <img class="svg-yellow me-1" src="{% static 'base/typicons/svg/home.svg' %}" alt="">Home</a>
                <a class="nav-item nav-link" href="{% url 'add-post' %}">
                  <img class="svg-yellow me-1" src="{% static 'base/typicons/svg/plus.svg' %}" alt="">New post</a>
                <a class="nav-item nav-link" href="{% url 'profile-page' username=user.username %}">
                  <img class="svg-yellow me-1" src="{% static 'base/typicons/svg/user.svg' %}" alt="">Profile</a>
             
            {% else %}
                <a class="nav-item nav-link me-2" href="{% url 'login' %}">
                  <img class="svg-yellow svg-large" src="{% static 'base/typicons/svg/user.svg' %}" alt="">Login</a>
                <a class="nav-item  btn btn-primary button" href="{% url 'signup' %}">Signup</a>
            {% endif %}
              </div>
            </div>
          </div>
  </nav>

  <!-- Navigation fixed bottom for smaller screens -->

  <nav style="background-color: #4B3FD8;" class="navbar bottom-nav fixed-bottom navbar-dark  d-md-none">
    <div class="container-fluid mx-4w">
      {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'food-feed' %}">
        <img style="width: 30px;" class="svg-yellow me-1" src="{% static 'base/typicons/svg/home.svg' %}" alt=""></a>
      <a class="nav-item nav-link" href="javascript:void(0)">
        <img style="width: 30px;" class="svg-yellow me-1" src="{% static 'base/typicons/svg/zoom.svg' %}" alt=""></a>
      <a class="nav-item nav-link" href="{% url 'add-post' %}">
        <img style="width: 30px;" class="svg-yellow me-1" src="{% static 'base/typicons/svg/plus.svg' %}" alt=""> </a>
      <a class="nav-item nav-link" href="{% url 'profile-page' username=user.username %}">
        <img style="width: 30px;" class="svg-yellow me-1" src="{% static 'base/typicons/svg/user.svg' %}" alt=""></a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'index' %}">
          <img style="width: 30px;" class="svg-yellow me-1" src="{% static 'base/typicons/svg/home.svg' %}" alt=""></a>
        <a class="nav-item nav-link" href="javascript:void(0)">
          <img style="width: 30px;" class="svg-yellow me-1" src="{% static 'base/typicons/svg/zoom.svg' %}" alt=""></a>
        <a class="nav-item nav-link" href="javascript:void(0)">
          <img style="width: 30px;" class="svg-yellow me-1" src="{% static 'base/typicons/svg/plus.svg' %}" alt=""> </a>
        <a class="nav-item nav-link" href="{% url 'login' %}">
          <img style="width: 30px;" class="svg-yellow me-1" src="{% static 'base/typicons/svg/user.svg' %}" alt=""></a>
      {% endif %}
      
    </div>
  </nav>

  

    <div class="page-container">
      {% if messages %}
      {% for message in messages %}
      <div class="alert {{ message.tags }}-message">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    {% block content %}{% endblock %}
    </div>


    <!-- JS script linking for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>